{% extends "dash/base.html" %} {% load static %} {% block contents %}
<main>
  <div class="container-fluid px-4">
    <h1 class="mt-4">Pedidos</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
      <li class="breadcrumb-item active">Ordenes</li>
    </ol>

    <div class="card mb-4">
      <div class="card-header">
        <i class="fas fa-table me-1"></i>
        Ordenes de pedido
      </div>
      
      <div class="card-body">
        <a href="{% url "agregar_orden" %}" class="btn btn-primary">
          Agregar Orden</a
        >
        <hr />
        <table id="datatablesSimple">
          <thead>
            <tr>
              <th>Orden</th>
              <th>Fecha de Pedido</th>
              <th>Cliente</th>
              <th>Total</th>
              <th>Estado</th>
              <!--<th>Gestion</th>-->
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Orden</th>
              <th>Fecha de Pedido</th>
              <th>Cliente</th>
              <th>Total</th>
              <th>Estado</th>
              <!--<th>Gestion</th>-->
            </tr>
          </tfoot>
          <tbody>
            <!--  'cliente', 'fecha_creacion', 'completada', 'direccion_envio', 'total'-->
            {% for o in ordenes%}
            <tr>
                <td>{{o.cliente}}</td>
                <td>{{o.fecha_creacion}}</td>
                <td>{{o.cliente.nombre}} {{o.cliente.apellidos}}</td>
                <td>{{o.total}}</td>
                <td>{{o.completada}}</td>
                <!--<td>
                  <button
                    type="button"
                    class="btn btn-primary"
                    onclick="mostrarDetalles('001')"
                  >
                    Ver Detalles
                  </button>
                </td>-->
              </tr>
            {% endfor %}
            
           
            
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>
{% endblock contents %}
