{% extends "app/base.html" %}
{% load static %}

{% block contenido %}
  <!-- Start Hero Section -->
  <div class="hero">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5">
          <div class="intro-excerpt">
            <h1>Carrito</h1>
          </div>
        </div>
        <div class="col-lg-7">

        </div>
      </div>
    </div>
  </div>
  <!-- End Hero Section -->


  <div class="untree_co-section before-footer-section">
    <div class="container">
      <div class="row mb-5">
        <form class="col-md-12" method="post">
          <div class="site-blocks-table">
            <table class="table">
              <thead>
                <tr>
                  <th class="product-thumbnail">Imagen</th>
                  <th class="product-name">Producto</th>
                  <th class="product-price">Precio</th>
                  <th class="product-quantity">Cantidad</th>
                  <th class="product-total">Total</th>
                  <th class="product-remove">Remover</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="product-thumbnail">
                    <img src="{% static 'app/images/product-1.png' %}" alt="Image" class="img-fluid">
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black">Product 1</h2>
                  </td>
                  <td id="preciounitario1">$230.000</td>
                  <td>
                    <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-black" type="button" onclick="updateTotal(1, -3)">&minus;</button>
                      </div>
                      <input id="cantidad1" type="number" class="form-control text-center quantity-amount" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" onchange="updateTotal(1, 0)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-black" type="button" onclick="updateTotal(1, 3)">&plus;</button>
                      </div>
                    </div>

                  </td>
                  <td id="subtotal1">$230.000</td>
                  <td><a href="#" class="btn btn-black btn-sm">X</a></td>
                </tr>

                <tr>
                  <td class="product-thumbnail">
                    <img src="{% static 'app/images/product-2.png' %}" alt="Image" class="img-fluid">
                  </td>
                  <td class="product-name">
                    <h2 class="h5 text-black">Product 2</h2>
                  </td>
                  <td id="preciounitario2">$150.000</td>
                  <td>
                    <div class="input-group mb-3 d-flex align-items-center quantity-container" style="max-width: 120px;">
                      <div class="input-group-prepend">
                        <button class="btn btn-outline-black" type="button" onclick="updateTotal(2, -3)">&minus;</button>
                      </div>
                      <input id="cantidad2" type="number" class="form-control text-center quantity-amount" value="1" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1" onchange="updateTotal(2, 0)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-black" type="button" onclick="updateTotal(2, 3)">&plus;</button>
                      </div>
                    </div>

                  </td>
                  <td id="subtotal2">$150.000</td>
                  <td><a href="#" class="btn btn-black btn-sm">X</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="row mb-5">
            <div class="col-md-6">
              <div class="row mb-5">
                <div class="col-md-6">
                  <a href="{% url 'shop' %}" class="btn btn-outline-black btn-sm btn-block">Continuar comprando</a>
                </div>
                <div class="col-md-6">
                  <button class="btn btn-black btn-sm btn-block" onclick="updateCart()">Actualizar Carrito</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <label class="text-black h4" for="coupon">Cupon</label>
              <p>Entra un código de cupón.</p>
            </div>
            <div class="col-md-8 mb-3 mb-md-0">
              <input type="text" class="form-control py-3" id="coupon" placeholder="Coupon Code">
            </div>
            <div class="col-md-4">
              <button class="btn btn-black">Aplicar Cupón</button>
            </div>
          </div>
        </div>
        <div class="col-md-6 pl-5">
          <div class="row justify-content-end">
            <div class="col-md-7">
              <div class="row">
                <div class="col-md-12 text-right border-bottom mb-5">
                  <h3 class="text-black h4 text-uppercase">Total</h3>
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-md-6">
                  <span class="text-black">Subtotal</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong id="subtotal" class="text-black">$380,000</strong>
                </div>
              </div>
              <div class="row mb-5">
                <div class="col-md-6">
                  <span class="text-black">Total</span>
                </div>
                <div class="col-md-6 text-right">
                  <strong id="total" class="text-black">$452,200</strong>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-black btn-lg py-3 btn-block" onclick="window.location='{% url 'checkout' %}'">Pagar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="{% static 'app/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'app/js/tiny-slider.js' %}"></script>
  <script src="{% static 'app/js/custom.js' %}"></script>
  

{% endblock contenido %}
