{% extends "app/base.html" %}

{% load static %}
{% load crispy_forms_tags %}

{% block contenido %}
    <div class="hero">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-3">
                    <div class="intro-excerpt">
                        <h1>Pago</h1>
                    </div>
                </div>
                <div class="col-lg-3"></div>
            </div>
        </div>
    </div>

    <div class="untree_co-section bg-dark d-flex align-items-center justify-content-center vh-100">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="p-4 border bg-white rounded">
                        <h2 class="h3 mb-3 text-center text-black">Tu orden</h2>
                        <table class="table site-block-order-table mb-4">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for o in ordenes %}
                                    <tr>
                                        <td>{{ o.producto.nombre }} <strong class="mx-2">x</strong> {{ o.cantidad }}</td>
                                        <td>${{ o.precio }}</td>
                                    </tr>
                                {% endfor %}

                                <tr>
                                    <td class="text-black font-weight-bold">
                                        <strong>Total</strong>
                                    </td>
                                    <td class="text-black font-weight-bold">
                                        <strong>${{ orden.total }}</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="text-center">
                            <div class="border p-3 mb-3">
                                <h3 class="h6 mb-0">
                                    <a class="d-block" data-bs-toggle="collapse" href="https://portales.bancochile.cl/personas" role="button" aria-expanded="false" aria-controls="collapsecheque">Transferencia</a>
                                </h3>
                                <div class="collapse" id="collapsecheque">
                                    <div class="py-2">
                                        <p class="mb-0">Información adicional sobre transferencia.</p>
                                    </div>
                                </div>
                            </div>

                            <div class="border p-3 mb-5">
                                <h3 class="h6 mb-0">
                                    <a class="d-block" data-bs-toggle="collapse" href="https://www.paypal.com/cl/home" role="button" aria-expanded="false" aria-controls="collapsepaypal">Paypal</a>
                                </h3>
                                <div class="collapse" id="collapsepaypal">
                                    <div class="py-2">
                                        <p class="mb-0">Información adicional sobre Paypal.</p>
                                    </div>
                                </div>
                            </div>

                            <form method="POST" action="{% url 'thankyou' %}" class="mb-0">
                                {% csrf_token %}
                                <input type="hidden" id="orden" name="orden" value="{{ orden.id }}">
                                <button class="btn btn-primary btn-lg py-3 btn-block" type="submit">Pagar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/tiny-slider.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
{% endblock contenido %}
