{% extends "app/base.html" %}
{% load static %}
{% block contenido %}
<!-- Start Hero Section -->
<div class="hero">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5">
        <div class="intro-excerpt">
          <h1>Pago</h1>
        </div>
      </div>
      <div class="col-lg-7"></div>
    </div>
  </div>
</div>
<!-- End Hero Section -->

<div class="untree_co-section">
  <div class="container">
    
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <h2 class="h3 mb-3 text-black">Billing Details</h2>
        <div class="p-3 p-lg-5 border bg-white">
          <div class="form-group">
            <label for="c_country" class="text-black"
              >Pais <span class="text-danger">*</span></label
            >
            <select id="c_country" class="form-control">
              <option value="1">Selecciona un País</option>
              <option value="2">Chile</option>
              <option value="3">Rgentina</option>
              <option value="4">Italia</option>
              <option value="5">España</option>
              <option value="6">Colombia</option>
              <option value="7">Uruguay</option>
              <option value="8">Mexico</option>
              <option value="9">EE.UU</option>
            </select>
          </div>
          <div class="form-group row">
            <div class="col-md-6">
              <label for="c_fname" class="text-black"
                >Nombre <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="c_fname"
                name="c_fname"
              />
            </div>
            <div class="col-md-6">
              <label for="c_lname" class="text-black"
                >Apellido <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="c_lname"
                name="c_lname"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-md-12">
              <label for="c_address" class="text-black"
                >Dirección <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="c_address"
                name="c_address"
                placeholder="Calle"
              />
            </div>
          </div>

          <div class="form-group mt-3">
            <input
              type="text"
              class="form-control"
              placeholder="Numero de casa, apartamento"
            />
          </div>

          <div class="form-group row">
            <div class="col-md-6">
              <label for="c_state_country" class="text-black"
                >Region/ciudad<span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="c_state_country"
                name="c_state_country"
              />
            </div>
            <div class="col-md-6">
              <label for="c_postal_zip" class="text-black"
                >Postal / Zip <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="c_postal_zip"
                name="c_postal_zip"
              />
            </div>
          </div>

          <div class="form-group row mb-5">
            <div class="col-md-6">
              <label for="c_email_address" class="text-black"
                >E-mail <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="c_email_address"
                name="c_email_address"
              />
            </div>
            <div class="col-md-6">
              <label for="c_phone" class="text-black"
                >Celular <span class="text-danger">*</span></label
              >
              <input
                type="text"
                class="form-control"
                id="c_phone"
                name="c_phone"
                placeholder="Numero Celular"
              />
            </div>
          </div>

          <div class="form-group">
            <label
              for="c_ship_different_address"
              class="text-black"
              data-bs-toggle="collapse"
              href="#ship_different_address"
              role="button"
              aria-expanded="false"
              aria-controls="ship_different_address"
              ><input type="checkbox" value="1" id="c_ship_different_address" />
              Enviar a otra ubicacion? (forma regalo)</label
            >
            <div class="collapse" id="ship_different_address">
              <div class="py-2">
                <div class="form-group">
                  <label for="c_diff_country" class="text-black"
                    >Pais <span class="text-danger">*</span></label
                  >
                  <select id="c_diff_country" class="form-control">
                    <option value="1">Selecciona un País</option>
                    <option value="2">Chile</option>
                    <option value="3">Rgentina</option>
                    <option value="4">Italia</option>
                    <option value="5">España</option>
                    <option value="6">Colombia</option>
                    <option value="7">Uruguay</option>
                    <option value="8">Mexico</option>
                    <option value="9">EE.UU</option>
                  </select>
                </div>
                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_fname" class="text-black"
                      >Nombre <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="c_fname"
                      name="c_fname"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="c_lname" class="text-black"
                      >Apellido <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="c_lname"
                      name="c_lname"
                    />
                  </div>
                </div>

                <div class="form-group row">
                  <div class="col-md-12">
                    <label for="c_address" class="text-black"
                      >Dirección <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="c_address"
                      name="c_address"
                      placeholder="Calle"
                    />
                  </div>
                </div>

                <div class="form-group mt-3">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Numero de casa, apartamento"
                  />
                </div>

                <div class="form-group row">
                  <div class="col-md-6">
                    <label for="c_state_country" class="text-black"
                      >Region/ciudad<span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="c_state_country"
                      name="c_state_country"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="c_postal_zip" class="text-black"
                      >Postal / Zip <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="c_postal_zip"
                      name="c_postal_zip"
                    />
                  </div>
                </div>

                <div class="form-group row mb-5">
                  <div class="col-md-6">
                    <label for="c_email_address" class="text-black"
                      >E-mail <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="c_email_address"
                      name="c_email_address"
                    />
                  </div>
                  <div class="col-md-6">
                    <label for="c_phone" class="text-black"
                      >Celular <span class="text-danger">*</span></label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="c_phone"
                      name="c_phone"
                      placeholder="Numero Celular"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="c_order_notes" class="text-black">Agreagr Nota</label>
            <textarea
              name="c_order_notes"
              id="c_order_notes"
              cols="30"
              rows="5"
              class="form-control"
              placeholder="Escribe tu nota aquí.."
            ></textarea>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Codigo de Cupon</h2>
            <div class="p-3 p-lg-5 border bg-white">
              <label for="c_code" class="text-black mb-3"
                >Ingresar Codigo de cupon</label
              >
              <div class="input-group w-75 couponcode-wrap">
                <input
                  type="text"
                  class="form-control me-2"
                  id="c_code"
                  placeholder="Coupon Code"
                  aria-label="Coupon Code"
                  aria-describedby="button-addon2"
                />
                <div class="input-group-append">
                  <button
                    class="btn btn-black btn-sm"
                    type="button"
                    id="button-addon2"
                  >
                    Aceptar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-5">
          <div class="col-md-12">
            <h2 class="h3 mb-3 text-black">Tu orden</h2>
            <div class="p-3 p-lg-5 border bg-white">
              <table class="table site-block-order-table mb-5">
                <thead>
                  <th>Producto</th>
                  <th>Total</th>
                </thead>
                <tbody>
                  <tr>
                    <td>Modelo CI3 <strong class="mx-2">x</strong> 1</td>
                    <td>$150.000</td>
                  </tr>
                  <tr>
                    <td>Modelo CI4 <strong class="mx-2">x</strong> 1</td>
                    <td>$230.000</td>
                  </tr>
                  <tr>
                    <td class="text-black font-weight-bold">
                      <strong>Subtotal</strong>
                    </td>
                    <td class="text-black">$380.000</td>
                  </tr>
                  <tr>
                    <td class="text-black font-weight-bold">
                      <strong>Total</strong>
                    </td>
                    <td class="text-black font-weight-bold">
                      <strong>$452.200</strong>
                    </td>
                  </tr>
                </tbody>
              </table>

              <div class="border p-3 mb-3">
                <h3 class="h6 mb-0">
                  <a
                    class="d-block"
                    data-bs-toggle="collapse"
                    href="https://portales.bancochile.cl/personas"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapsecheque"
                    >Transferencia</a
                  >
                </h3>

                <div class="collapse" id="collapsecheque">
                  <div class="py-2">
                    <p class="mb-0"></p>
                  </div>
                </div>
              </div>

              <div class="border p-3 mb-5">
                <h3 class="h6 mb-0">
                  <a
                    class="d-block"
                    data-bs-toggle="collapse"
                    href="https://www.paypal.com/cl/home"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapsepaypal"
                    >Paypal</a
                  >
                </h3>

                <div class="collapse" id="collapsepaypal">
                  <div class="py-2"></div>
                </div>
              </div>

              <div class="form-group">
                <button
                  class="btn btn-black btn-lg py-3 btn-block"
                  onclick="window.location='thankyou.html'"
                >
                  Proceder a pagar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>
</div>

<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/tiny-slider.js"></script>
<script src="js/custom.js"></script>


{% endblock contenido %}