{% extends "app/base.html" %}
{% load static %}
{% block contenido %}


		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">

					<section class="py-5">
						<div class="container px-4 px-lg-5 my-5">
							<div class="row gx-4 gx-lg-5 align-items-center">
								<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="images/product-1.png" alt="..." /></div>
								<div class="col-md-6">
									<div class="small mb-1">SKU: BST-498</div>
									<h1 class="display-5 fw-bolder">Nuevo! Collar C215</h1>
									<div class="fs-5 mb-5"><span class="text-decoration-line-through">$150.000</span><span>$119.000</span></div>
									<p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
									<div class="d-flex"><input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /><a class="btn btn-outline-dark flex-shrink-0" href="cart.html" type="button"><i class="bi-cart-fill me-1"></i>Add to cart</a></div>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>

		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>

		{% endblock contenido %}
