{% extends "app/base.html" %}
{% load static %}
{% load humanize %}
{% block contenido %}


		<div class="untree_co-section product-section before-footer-section">
		    <div class="container">
		      	<div class="row">

					<section class="py-5">
						<div class="container px-4 px-lg-5 my-5">
							<div class="row gx-4 gx-lg-5 align-items-center">
								<div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" src="{{p.imagen.url}}" alt="..." /></div>
								<div class="col-md-6">
									<div class="small mb-1">{{p.id}}</div>
									<h1 class="display-5 fw-bolder">{{p.nombre}}</h1>
									<div class="fs-5 mb-5"><span class="text-decoration-line-through">${{p.precio|intcomma}}</span><span>${{p.precio|intcomma}}</span></div>
									<p class="lead">{{p.descripcion}}</p>
									<div class="d-flex"></div>
									<form method="POST" action="{% url 'cart' %}">
										{% csrf_token %}
										<!-- Aquí van los campos del formulario -->
										<input
											type="hidden"
											id="accion"
											name="accion"
											value="agregar"
											/>
										<input type="hidden" id="productoid" name="productoid" value="{{p.id}}">
										<input class="form-control text-center me-3" id="cantidad" name="cantidad" type="num" value="1" style="max-width: 3rem" />
										<!-- Otros campos del formulario -->
										<br>
										<button class="btn " type="submit">Enviar</button>
									</form>
								</div>
							</div>
						</div>
					</section>
				</div>
			</div>
		</div>

		<script src="js/bootstrap.bundle.min.js"></script>
		<script src="js/tiny-slider.js"></script>
		<script src="js/custom.js"></script>

		{% endblock contenido %}
